@{
    ViewData["Title"] = "Home Page";
    int count = (int)ViewData["Count"];
    string title = (string)ViewData["BlogTitle"];
}

<p>There are @count blog posts.</p>
<p>The first blog's title is @title.</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
